<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/registration/otp_validation.html
# Author : Brice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<!-- display messages -->
<div>
    <h2 class="my-5">{% translate 'Please enter your one time password:' %}</h2>
    {% if messages %}
        <div class="messages mt-3">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="d-flex justify-content-center mt-4 ">
        <div class="border-top pt-5">
            <form id="otp-form" method="post" action="{% url 'facturasieli:otp_validation' %}">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <strong class="mx-2">{{ form.otp.label }}: </strong>
                    <p> {{ form.otp }}</p>
                </div>
                <button class="btn btn-warning mt-4" type="submit">{% translate 'Connect' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
