<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/registration/otp_validation.html
# Author : Brice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<!-- display messages -->
{% if messages %}
    <div class="messages mt-3">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="mt-4">
    <h2>{% translate 'Please enter your one time password:' %}</h2>
    <div class="d-flex justify-content-center mt-4 ">
        <div class="shadow p-5 rounded">
            <form method="post" action="{% url 'facturasieli:otp_validation' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning mt-4" type="submit">🔑 {% translate 'Connect' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
