<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/registration/register.html
# Author : Brice, Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <h3>🔐 {% translate 'Please choose your identifiers:' %}</h3>
    <div class="d-flex justify-content-center my-4">
        <form method="post" action="{% url 'facturasieli:register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">👤 {% translate 'Register' %}</button>
        </form>
    </div>
</div>
{% endblock %}
