<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/registration/register.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="my-4 pb-4">
    <h3>🔐 {% translate 'Please choose your identifiers:' %}</h3>
    <div class="d-flex justify-content-center my-4">
        <div class="border-top pt-5">
            <form method="post" action="{% url 'facturasieli:register' %}">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div>
                    <p>{{ form.email.errors }}</p>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.email.label }}:</strong>
                        <p>{{ form.email }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.first_name.label }}:</strong>
                        <p>{{ form.first_name }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.last_name.label }}:</strong>
                        <p>{{ form.last_name }}</p>
                    </div>
                    <strong>{{ form.role.label }}:</strong>
                    <div class="d-flex justify-content-between pt-3">
                        {% for checkbox in form.role %}
                        <div class="border rounded py-3 px-4 role-item">
                            <div class="d-flex justify-content-center">
                                <span>{{ checkbox.tag }}</span> 
                            </div>
                            <p class="text-center fw-bold">{{ checkbox.choice_label }}</p>
                            <hr>
                            {% if checkbox.data.value == 2 %}
                            <small>{% translate 'The service provider offers its services to other companies but does not intend to use the services of another. The user will not be able to make transfers to another company.' %}</small>
                            {% elif checkbox.data.value == 3 %}
                            <small>{% translate 'The Company Manager has access to create service reports, generate invoices, and manage payment settlements.' %}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <p>{{ form.password1.errors }}</p>
                    <div class="d-flex justify-content-between mt-2">
                        <strong>{{ form.password1.label }}: </strong>
                        <p>{{ form.password1 }}</p>
                    </div>
                    <p>{{ form.password2.errors }}</p>
                    <div class="d-flex justify-content-between">
                        <strong class="me-4">{{ form.password2.label }}:</strong>
                        <p>{{ form.password2 }}</p>
                    </div>
                    <div id="pwd-param-guide"></div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">👤 {% translate 'Register' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
