<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/service/service_form.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <!-- messages display -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}  

    <h3 class="mt-3">{% if update %}{% translate 'Update service for provider:' %}{% else %}{% translate 'Create a new service for provider:' %} {{company_provider}}{% endif%}</h3>

    <div class="d-flex justify-content-center mt-4">
        <div class="border-top pt-5">
            <a href="{% url 'facturasieli:service' %}" class="btn btn-warning mb-4">{% translate 'Back' %}</a>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success" value="List">
                    {% if update %}{% translate 'Update' %}{% else %}{% translate 'Create' %}{% endif%}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
