<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/invoice_form.html
# Author : Margaux
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %} 
<div class="mt-4">
    <h3>{% if service.invoice %} {% translate 'Invoice number:' %} {{service.invoice.invoice_number}} {% translate 'for service:' %}{% else %}{% translate 'Invoice Form for' %}{% endif %} {{service.title}}</h3>
    <div class="d-flex justify-content-around mt-4 border-top pt-5">
        <div>
            <div class="mt-3 p-3">
                <p><strong>{% translate 'Your company:' %}</strong> {{ service.company_provider.name }}</p>
                <p><strong>{% translate 'Your address:' %}</strong> {{ service.company_provider.address }}</p>
            </div>
            <div class="mt-4 p-3">
                <p><strong>{% translate 'Client company:' %}</strong> {{ service.company_client.name }}</p>
                <p><strong>{% translate 'Client address:' %}</strong> {{ service.company_client.address }}</p>
            </div>
        </div>
        <div class="">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <p>{{ form.due_date.errors }}</p>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.due_date.label }}:</strong>
                        <p>{{ form.due_date }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.kind_of_payment.label }}:</strong>
                        <p>{{ form.kind_of_payment }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.hours.label }}:</strong>
                        <p>{{ form.hours }}</p>
                    </div>
                    <p>{{ form.amount_excluding_tax.errors }}</p>
                    <div class="d-flex justify-content-between mt-2">
                        <strong>{{ form.amount_excluding_tax.label }}: </strong>
                        <p>{{ form.amount_excluding_tax }}</p>
                    </div>
                    <p>{{ form.tax.errors }}</p>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.tax.label }}: </strong>
                        <p>{{ form.tax }}</p>
                    </div>
                    <p>{{ form.attachment.errors }}</p>
                    <div class="d-flex justify-content-between">
                        <strong>{{ form.attachment.label }}:</strong>
                        <p>{{ form.attachment }}</p>
                    </div>
                    <button type="submit" class="btn btn-warning">{% if service.invoice %} {% translate 'Update' %}{% else %}{% translate 'Create' %}{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
