<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/index.html
# Author : Brice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
    <!-- display messages -->
    {% if messages %}
    <div class="messages mt-3">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endif %}

<div class="landingPage">
    <div class="appHook">
        <p class="hook">{% translate "Business's why you're here." %}</p>
    </div>
    <div class="titleFrame">
        <h1>{% translate 'Easynvoice' %}</h1>
        <p class="welcome">{% translate 'Welcome' %} {{ request.profile.first_name|capfirst }} !</p>
    </div>
</div>
{% endblock %}
