<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/registration/custom_login.html
# Author : Brice, Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <h2> 🔑 {% translate 'Please enter your identifiers:' %}</h2>
    <div class="d-flex justify-content-center my-4">
        <div>
            <form method="post" action="{% url 'facturasieli:custom_log_in' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning" type="submit">{% translate 'Connect' %}</button>
            </form>
            <br />
            <br />
            <h2>{% translate 'You are not registered yet?' %}</h2>
            <a href="{% url 'facturasieli:register' %}" class="btn btn-outline-warning">👤  {% translate 'Create my account' %}</a>
        </div>
    </div>
</div>
{% endblock %}
