/* <!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/static/style/style.css
# Author : Morice
# --------------------------------------------------------------------------> */


/************************************ Index *******************************/
.landingPage{
    position: relative;
    background-image: url('../../images/landing_easynvoice.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
}

.landingPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

.appHook{
    position: absolute;
    top: 30%;
    left: 5%;
    max-width: 20%;
    z-index: 2;
    backdrop-filter: blur(5px); /* blurry effect in the back */
    -webkit-backdrop-filter: blur(5px); /* Compatibility for Safari */
}

.appHook p{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: black;
}

.titleFrame{
    position: absolute;
    top: 20%;
    left: 36%;
    padding: 0px 50px 0px 50px;
    border-radius: 100px;
    border: 3px solid white;
    z-index: 2;
    backdrop-filter: blur(3px); /* blurry effect in the back */
    -webkit-backdrop-filter: blur(3px); /* Compatibility for Safari */
}

.titleFrame h1{
    font-size: 8rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: italic;
}

.welcome{
    position: relative;
    margin: 0;
    text-align: center;
    top: 80px;
    font-weight: 400;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

/******************************* messages fadde out ***********************************/
.hide {
    opacity: 0;
    transition: opacity 3s ease-out;
}

/********************************** Forms css *****************************************/
/* Form fields on focus */
.input-on-focus:focus{
    box-shadow: 0 0 2px 4px rgba(135, 206, 250, 0.9) !important;
    outline: none !important;
}

/* Register page form */
.role-item{
    width: 180px;
}

/* Error message css */
.errorlist {
    color: red;
    margin-top: 5px;
}

/*  */
.errorlist li {
    font-size: 14px;
}

.min-content{
    min-height: 600px ;
}

/****************************** Tables *********************************/
.hidden{
    display: none;
}

.line_over:hover .hidden {
    display: block;
}

.clickable-row{
    cursor: pointer;
}

.neutralLink{
    text-decoration: none;
}


/**************************************** Show_service css ********************************/
.invoice-status{
    width: 80%;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    border: 4px solid;
    border-radius: 50px;
    font-size: 2rem;
}

/* timeline in service */
.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

/* timeline step css */
.step {
    position: relative;
    padding: 10px 20px;
    width: 30%;
    height: 70px;
    background-color: lightgray;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin-right: 20px;
}

/* Pour la dernière étape, enlever la marge droite */
.step:last-child {
    margin-right: 0;
}

/* Style pour la flèche à droite */
.step::after {
    content: '';
    position: absolute;
    right: -15px;
    top: -5px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 30px solid lightgray;
}

/* Étape complétée (couleur verte) */
.completed {
    background-color: #28a745;
}

.failed{
    background-color: #c31816;
}

/* fleche pour l'étape failed */
.failed::after {
    border-left-color: #c31816;
}

/* Flèche pour l'étape complétée (verte) */
.completed::after {
    border-left-color: #28a745;
}

/* Flèche finale verte si toutes les étapes sont complétées */
.timeline.completed::after {
    border-left-color: #28a745;
}

