/* <!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/static/style/style.css
# Author : Morice
# --------------------------------------------------------------------------> */


/* messages fadde out */
.fade-out {
    opacity: 1;
    transition: opacity 2s ease-out;
}

.fade-out.hide {
    opacity: 0;
}

.min-content{
    min-height: 400px ;
}

.hidden{
    display: none;
}

.line_over:hover .hidden {
    display: block;
}

.neutralLink{
    text-decoration: none;
}

.clickable-row{
    cursor: pointer;
}

.invoice-status{
    width: 80%;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    border: 4px solid;
    border-radius: 50px;
    font-size: 2rem;
}