/* <!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/static/style/style.css
# Author : Morice
# --------------------------------------------------------------------------> */


.min-content{
    min-height: 400px ;
}

.hidden{
    display: none;
}

.line_over:hover .hidden {
    display: block;
}

.neutralLink{
    text-decoration: none;
}