<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/service/service.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %} 
<h3 class=" my-3">{% translate 'Your services' %}</h3>
    <!-- display messages -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endif %}

<!-- tabs gerées par bootstrap -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true" onclick="active_service_tab('home-tab')">
        {% translate 'I am the client' %}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" onclick="active_service_tab('profile-tab')">
        {% translate 'I am the provider' %}
    </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!-- client tab -->
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="mt-4">   
            <div class="d-flex justify-content-center mt-4">
                <div class="w-100">
                    <a href="{% url 'facturasieli:select_company' %}" class="btn btn-warning mb-4">{% translate 'New service' %}</a>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">{% translate 'Title' %}</th>
                            <th scope="col">{% translate 'Service creation date' %}</th>
                            <th scope="col">{% translate 'Company' %}</th>
                            <th scope="col">{% translate 'Status' %}</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if client_services %}
                                {% for service in client_services %}
                                    <tr class="clickable-row" data-href="{% url 'facturasieli:show_service' service.id %}">
                                        <th scope="row">{{ service.title }}</th>
                                        <td>{{ service.issue_date }}</td>
                                        <td>{{ service.company_provider.name }}</td>
                                        <td>{{ service.status }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <p>{% translate "You don't have services yet" %}</p>
                            {% endif %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>  
    </div>
    <!-- provider tab -->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="mt-4">   
            <div class="d-flex justify-content-center mt-4">
                <div class="w-100">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">{% translate 'Title' %}</th>
                            <th scope="col">{% translate 'Service creation date' %}</th>
                            <th scope="col">{% translate 'Company' %}</th>
                            <th scope="col">{% translate 'Status' %}</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if provider_services %}
                                {% for service in provider_services %}
                                    <tr class="clickable-row" data-href="{% url 'facturasieli:show_service' service.id %}">
                                        <th scope="row">{{ service.title }}</th>
                                        <td>{{ service.issue_date }}</td>
                                        <td>{{ service.company_client.name }}</td>
                                        <td>{{ service.status }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
        
                            {% endif %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
