<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/profile/acount_check.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<!-- display messages -->
{% if messages %}
    <div class="messages mt-3">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="mt-4">
    <h2>{% translate 'Please enter your account email:' %}</h2>
    <div class="d-flex justify-content-center mt-4 ">

        <form class="border-top p-5 " method="post" action="{% url 'facturasieli:account_check' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning mt-3" type="submit">{% translate 'Check' %}</button>
        </form>
    </div>
</div>
{% endblock %}
