<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/profile/acount_check.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <h2>{% translate 'Please enter your account email:' %}</h2>
    <div class="d-flex justify-content-center mt-4">
        <form method="post" action="{% url 'facturasieli:account_check' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning" type="submit">{% translate 'Check' %}</button>
        </form>
    </div>
</div>
{% endblock %}
