<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/profile/reset_password.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <h2>{% translate 'Please reset your password' %}</h2>
    <div class="d-flex justify-content-center mt-4 ">
        {% if request.user.is_authenticated %}
        <form class="border-top" method="post" action="{% url 'facturasieli:change_password' %}">
            <a class="btn btn-outline-dark my-3" href="{% url 'facturasieli:edit_profile' %}">{% translate 'back' %}</a>
        {% else %}
        <form class="border-top" method="post" action="{% url 'facturasieli:reset_password' profile.id %}">
        {% endif %}
            {% csrf_token %}
            {% if request.user.is_authenticated %}
            <p>{{ form.old_password.errors }}</p>
            <div class="d-flex justify-content-between">
                <strong>{{ form.old_password.label }}:</strong>
                <p>{{ form.old_password }}</p>
            </div>
            {% endif %}
            <p>{{ form.password1.errors }}</p>
            <div class="d-flex justify-content-between">
                <strong>{{ form.password1.label }}:</strong>
                <p>{{ form.password1 }}</p>
            </div>
            <p>{{ form.password2.errors }}</p>
            <div class="d-flex justify-content-between">
                <strong class="me-3">{{ form.password2.label }}:</strong>
                <p>{{ form.password2 }}</p>
            </div>
            <div id="pwd-param-guide"></div>
            <button class="btn btn-warning" type="submit">{% translate 'Edit Password' %}</button>
        </form>
    </div>
</div>
{% endblock %}
