<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/templates/facturasieli/profile/reset_password.html
# Author : Morice
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="mt-4">
    <h2>{% translate 'Please reset your password' %}</h2>
    <div class="d-flex justify-content-center mt-4 ">
        <div class="shadow p-3 rounded">
            <form method="post" action="{% url 'facturasieli:reset_password' profile.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning" type="submit">{% translate 'Edit Password' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
