<!---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : templates/verification_list.html
# Author : Zineb
# -------------------------------------------------------------------------->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<!-- display messages -->
{% if messages %}
    <div class="messages mt-3">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<h3 class="my-3">{% translate 'Pending Invoices Verification' %}</h3>
<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th>{% translate 'Invoice Number' %}</th>
            <th>{% translate 'Service title' %}</th>
            <th>{% translate 'Amount' %}</th>
            <th>{% translate 'Issue date' %}</th>
            <th>{% translate 'Due date' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
        <tr class="clickable-row" data-href="{% url 'facturasieli:verify_invoice' invoice.id %}">
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.service.title }}</td>
            <td>{{ invoice.amount_excluding_tax }}</td>
            <td>{{ invoice.issue_date }}</td>
            <td>{{ invoice.due_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
