<!-- # ---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/template/facturasieli/email/registration_email.py
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration email</title>
</head>
<body>
    <strong><a href="http://127.0.0.1:8000/fr/public_profile/{user_profile.id}/">{% translate 'Start now ' %}</a></strong>
</body>
</html>
