<!-- # ---------------------------------------------------------------------------
#                    F a c t u r a S i e l i   ( 2 0 2 4 )
# ---------------------------------------------------------------------------
# File   : facturasieli/template/facturasieli/email/registration_email.py
# Author : Morice
# --------------------------------------------------------------------------- -->

{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password email</title>
</head>
<body>
    <p>{{ salute }} {{ user_profile.first_name }}</p>
    <p>{{ email_content }}</p>
    <p>{{ email_content2 }}</p>
    <br>
    <strong><a href="http://127.0.0.1:8000/fr/reset_password/{{user_profile.id}}/">{% translate 'Reset password ' %}</a></strong>
    <br>
    <br>
    <p>{{ email_end }}</p>
</body>
</html>
